<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
  <%= stylesheet_link_tag "theme-#{session[:current_domain_id]}" %>
  
  <meta name="description" content="<%= yield :metadescription %>" />
  <meta name="keywords" content="<%= yield :metakeywords %>" />
  <%= yield :head %>
  
</head>
<body>
  <div class="div-main"><%= yield %><div class="push"></div></div>  	
<%= render 'layouts/footer' %>

</body>
</html>
