<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/stylesheets' %>
</head>
<body>
<%= render 'layouts/header' %>
<div class="div-main"><%= yield %><div>
<%= render 'layouts/footer' %>
</body>
</html>
